/* Reboot */
*,*::after,*::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{margin:0;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus:not(:focus-visible){outline:0 !important}hr{box-sizing:content-box;height:0;overflow:visible}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:0.5rem}p{margin-top:0;margin-bottom:1rem}abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}address{margin-bottom:1rem;font-style:normal;line-height:inherit}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:0.5rem;margin-left:0}blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#007bff;text-decoration:none;background-color:transparent}a:hover{color:#0056b3;text-decoration:underline}a:not([href]){color:inherit;text-decoration:none}a:not([href]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;font-size:1em}pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}figure{margin:0 0 1rem}img{vertical-align:middle;border-style:none}svg{overflow:hidden;vertical-align:middle}table{border-collapse:collapse}caption{padding-top:0.75rem;padding-bottom:0.75rem;color:#6c757d;text-align:left;caption-side:bottom}th{text-align:inherit}label{display:inline-block;margin-bottom:0.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[role="button"]{cursor:pointer}select{word-wrap:normal}[type="button"],[type="reset"],[type="submit"],button{-webkit-appearance:button}[type="button"]:not(:disabled),[type="reset"]:not(:disabled),[type="submit"]:not(:disabled),button:not(:disabled){cursor:pointer}[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type="radio"],input[type="checkbox"]{box-sizing:border-box;padding:0}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:0.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}progress{vertical-align:baseline}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{outline-offset:-2px;-webkit-appearance:none}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item;cursor:pointer}template{display:none}[hidden]{display:none !important}

/* Style */

/* base typography */
body {
	font-size: 16px; line-height: 24px; font-family:'Roboto Condensed',Helvetica,Arial,sans-serif;
	background-color: #f6f6f6; color: #777
}
/* typo */
a { text-decoration: none}
a:hover {color: #069}

h1 { font-size: 48px; color: #222; font-weight: bold; letter-spacing: -2px; margin: 1rem 0 0.5rem 0; line-height: 48px }
h1 small { display:inline-block; font-size: 32px; color: #444; letter-spacing: -2px; font-weight: normal; line-height: 32px }

h2 { font-size: 32px; color: #222; font-weight: bold; letter-spacing: -1px; margin: 1rem 0 0.5rem 0; line-height: 32px }
h2 small { display:inline-block; font-size: 24px; color: #444; letter-spacing: -1px; font-weight: normal; line-height: 24px }
b {color: #333}

p,ul { margin: 0 0 0.5rem 0; }
ul { list-style: inherit; list-style-position: inside; }
.lead { font-size: 18px; color: #777 }

.install {
	font-family: monospace; background: none; color: #fff; font-size: 20px; font-weight: bold
}

/* btn */
.btn {padding: 5px 10px; color: #333; background: #ddd; ; font-size: 12px; text-transform: uppercase}
.btn:hover {color: #fff; background: #333; text-decoration: none}
.btn-brand { color: #fff; background: #069}
.btn-brand:hover {color: #fff; background: #f00}

.container {width: auto; max-width: 90%; margin: 0 auto}

@media (min-width: 900px) {
	.container {width: 1200px; }
}

.content-inner {
	padding: 0 1rem
}
.content-inner.main { background: #fff;overflow: hidden; }

/* copy */
.copy {
	padding: 0.5rem 1rem;
	font-size: 12px;
	background: rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.copy form {
	flex-basis:100%
}
.sidebar .copy {
	/* background: #d6dee2; */
	background: #d2e0d0;
}

.text-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* code wrapper */
.code-wrapper {
	max-width: 100%;
	overflow: auto;
	display: grid
}

/* grid */
.row.boxes > div {
	margin: 0.5rem 0;
	overflow: hidden;
}

.box {
	padding: 1rem;
	background: #e9f5f9;
}
.box ul:last-child,
.box p:last-child {
	margin: 0;
}
.nomargin .col-8.container {max-width: 100%; margin:0}

.row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	/* max-width: 100%; */
}

.right-side {
	flex-direction: column-reverse;
}

.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-10,
.col-9 {max-width: 100%;}

@media (min-width: 768px) {
	.row {
		flex-direction: row;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0 -0.5rem;
	}
	.row.nomargin {
		margin: 0;
	}
	.overflow-x-hidden {
		overflow-x: hidden;
	}

	/* .row.boxes > div {
		margin: 0.5rem;
	} */

	.col-2 > .box,
	.col-3 > .box,
	.col-4 > .box,
	.col-8 > .box,
	.col-9 > .box,
	.col-6 > .box {
		height: 100%
	}

	.col-2,
	.col-3,
	.col-4,
	.col-6,
	.col-8,
	.col-9 {padding: 0 0.5rem; flex: auto}

	/* .col-2 {flex-basis:calc(16.665% - 1rem); max-width:calc(16.665% - 1rem)}
	.col-3 {flex-basis:calc(25% - 1rem); max-width:calc(25% - 1rem)}
	.col-4 {flex-basis:calc(33.33% - 1rem); max-width:calc(33.33% - 1rem)}
	.col-6 {flex-basis:calc(50% - 1rem); max-width:calc(50% - 1rem)}
	.col-8 {flex-basis:calc(66.665% - 1rem); max-width:calc(66.65% - 1rem)}
	.col-9 {flex-basis:calc(75% - 1rem); max-width:calc(75% - 1rem)} */
	/* .row.nomargin > .col-2 {flex-basis:16.665%; max-width:16.665%}
	.row.nomargin > .col-3 {flex-basis:25%; max-width:25%}
	.row.nomargin > .col-4 {flex-basis:33.33%; max-width:33.33%}
	.row.nomargin > .col-6 {flex-basis:50%; max-width:50%}
	.row.nomargin > .col-8 {flex-basis:66.665%; max-width:66.665%}
	.row.nomargin > .col-9 {flex-basis:75%; max-width:75%} */

	.col-2 { max-width:16.665%; flex: 0 0 16.665%}
	.col-3 { max-width:25%; flex: 0 0 25%}
	.col-4 { max-width:33.33%; flex: 0 0 33.33%}
	.col-6 { max-width:50%; flex: 0 0 50%}
	.col-8 { max-width:66.65%; flex: 0 0 66.65%}
	.col-9 { max-width:75%; flex: 0 0 75%}


	.row.nomargin > .col-2,
	.row.nomargin > .col-3,
	.row.nomargin > .col-4,
	.row.nomargin > .col-6,
	.row.nomargin > .col-8,
	.row.nomargin > .col-10,
	.row.nomargin > .col-9 {padding: 0;}

	.nomargin .col-8.container {
		margin: 0 auto;
		max-width: 66.665%;
		flex-basis: 66.665% !important;
	}
}

/* utility */
.pull-right {float: right}
.pull-left {float: left}
.mb-1 {margin-bottom:0.25rem !important}
.mb-2 {margin-bottom:0.5rem !important}
.mb-3 {margin-bottom:1rem !important}
.mb-4 {margin-bottom:1.5rem !important}
.mt-1 {margin-top:0.25rem !important}
.mt-2 {margin-top:0.5rem !important}
.mt-3 {margin-top:1rem !important}
.mt-4 {margin-top:1.5rem !important}

.mt-0 { margin-top: 0 !important }
.mb-0 { margin-bottom: 0 !important }

@media (max-width: 768px){
	.hidden-md {display: none;}
}

@media (max-width: 328px){
	.hidden-xs {display: none;}
}

/* smooth scroll */
html {
	scroll-behavior: smooth;
}

/* HERO */
.hero {
	padding: 2rem 3rem;
	background: #a3acaf
}

.hero .lead {
	color:#fff
}

@media (min-width: 768px) {
	.hero .row {
		margin: 0 -1rem;
	}
	.hero .col-2,
	.hero .col-3,
	.hero .col-4,
	.hero .col-6,
	.hero .col-8,
	.hero .col-10,
	.hero .col-9 {padding: 0 1rem}
/* 
	.hero .col-2 {max-width:calc(16.665% - 2rem); flex-basis:calc(16.665% - 2rem)}
	.hero .col-3 {max-width:calc(25% - 2rem); flex-basis:calc(25% - 2rem)}
	.hero .col-4 {max-width:calc(33.33% - 2rem); flex-basis:calc(33.33% - 2rem)}
	.hero .col-6 {max-width:calc(50% - 2rem); flex-basis:calc(50% - 2rem)}
	.hero .col-8 {max-width:calc(66.665% - 2rem); flex-basis:calc(66.665% - 2rem)}
	.hero .col-9 {max-width:calc(75% - 2rem); flex-basis:calc(75% - 2rem)} */
}

/* img */
img {max-width: 100%}

/* round */
.round {border-radius: 1rem}

.gray-1 {background:#111 !important}
.gray-2 {background:#222 !important}
.gray-3 {background:#333 !important}
.gray-4 {background:#444 !important}
.gray-5 {background:#555 !important}
.gray-6 {background:#aaa !important}
.gray-7 {background:#bbb !important}
.gray-8 {background:#ccc !important}
.gray-9 {background:#ddd !important}
.gray-0 {background:#eee !important}

/* code */
code:not([class*="language-"]) {
	color: #d07373;
	background: #f6f6f6;
	padding: 0 0.25rem;
	font-family: monospace;
	border-radius: 0.25rem;
	display: inline-block;
	line-height: 1.2
}

/* special list */
.attr-list {
	list-style: square inside;
	padding: 0 0 0 1rem
}

/* form */
.form-control {
	padding: 0.125rem 0.5rem;
	/* width: calc(100% - 1rem); */
	width: 100%;
	display: block;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 0.25rem;
	color: rgba(0,0,0,0.55);
	/* line-height: 1; */
	background: rgba(255,255,255,0.55)
}

.form-control:focus {
	color: rgba(0,0,0,.75);;
	outline: none;
	box-shadow: 0 0 0 3px rgba(0,0,0,0.125);
	background: rgba(255,255,255,0.75);
	border-color: rgba(0,0,0,.35);
}

.form-control::placeholder {
	color: rgba(0,0,0,0.55)
}

.sidebar > .column-title{
	color: #fff !important;
	/* background: #98a0a5; */
	background: #909c8f;
	padding: 0.5rem 1rem;
	display: flex;	
}

.special-title {
	margin: 0 0 0.5rem;
	padding: 0 0 0.5rem;
	display: flex;
}