// MIXINS - DEFAULT STYLING, LAYOUT & ANIMATION
@import "functions";

@mixin navbar-mobile-layout($include:0) {
  #{if($include != 0, '&.navbar', '.navbar')} {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: var(--n-padding-y) var(--n-padding-x);
    font-size: var(--n-font-size);

    // global line-height, this stays here as authored
    line-height: var(--n-line-height);

    > div {
      display: none;
      flex-basis: 100%;
      flex-direction: column;
      flex-grow: 1;
    }

    &.open-mobile > div {
      display: flex;
    }

    .nav {
      flex-direction: column;
    }

    .brand {
      display: flex;
      align-items: center;
      padding: var(--n-brand-padding);
      font-size: var(--n-brand-font-size);
      line-height: var(--n-brand-line-height);
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

@mixin navbar-desktop-layout($include:0) {
  @media (min-width: $responsive_breakpoint) {
    #{if($include != 0, '&.navbar', '.navbar')} {
      position: relative;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      > div {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .nav {
        flex-direction: row;
      }
    }
  }
}

@mixin navbar-desktop-side-layout($include:0) {
  @media (min-width: $responsive_breakpoint) {
    #{if($include != 0, '&.navbar', '.navbar')} {
      flex-flow: column nowrap;
      justify-content: flex-start;
      height: 100%;

      > div {
        display: flex;
        flex-direction: column;
      }

      .nav {
        flex-direction: column;
      }
    }
  }
}

@mixin navbar-style($include:0) {
  // navbar content
  .navbar-content,
  .subnav-content {
    a:not([class]), b {
      color: var(--n-link-color);
    }
  }

  @media (min-width: $responsive_breakpoint) {
    .navbar-content {
      a:not([class]):hover {
        color: var(--n-link-color-hover);
      }
    }
  }

  // navbar colors
  #{if($include != 0, '&.navbar', '.navbar')} {
    color: var(--n-text-color);
    background-color: var(--n-bg);

    .brand {
      color: var(--n-brand-link-color);
    }
  }
}

// menu layout
@mixin nav-layout($noWrapper:0) {
  .nav li > a,
  .nav li > span,
  .navbar-content,
  .subnav-content {
    padding: var(--n-item-padding-y) var(--n-item-padding-x);
    margin: var(--n-item-margin);
  }

  // general item layout
  .nav > li,
  .row > li,
  .subnav > li,
  .subnav-toggle + ul > li,
  .subnav-toggle + div > li,
  .nav li > span, .nav li > a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  // .nav li > span, .nav li > a {
  //   flex-wrap: nowrap;
  // }

  .nav {
    // set flex
    display: flex;

    // set base typo
    @if $noWrapper != 0 {
      font-size: var(--n-font-size);
      line-height: var(--n-line-height);
    }

    // reset any spacing or LI styling
    &, ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    
    li {
      transition: margin .3s ease 0s;

      > span, > a {
        flex-wrap: nowrap;
        overflow: hidden;
        font-size: var(--n-item-font-size);
        line-height: var(--n-item-line-height);
      }
    }

    li > a { text-decoration: none; }

    // the ellipsis span element
    li > span > span,
    li > a > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  // toggles
  .subnav-toggle,
  .navbar-toggle {
    display: flex;
    align-items: center;
    align-self: center;
    padding: var(--n-toggle-padding);
    margin: auto var(--n-item-padding-x);
    border: 1px solid transparent;
    border-radius: var(--n-base-radius);
  }

  // .open-mobile
  li.open-mobile > .subnav-toggle + ul,
  li.open-mobile > .subnav-toggle + div,
  li.open-mobile > .subnav {
    display: block;
  }

  .open-mobile + .open-mobile {
    margin-top: var(--n-item-padding-y);
  }

  // mobile view content closed state
  .parent-icon,
  .subnav-toggle + ul,
  .subnav-toggle + div,
  .subnav {display: none;}

  // content spacing
  .subnav-content {
    p, ul {
      margin-bottom: var(--n-item-padding-y);
    }
  }

  // mobile view tree highlight padding
  ul.subnav,
  div.subnav ul {
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 0 0 var(--n-item-padding-x);
  }

  div.subnav {
    flex-basis: 100%;
  }

  // menu icons
  @include navbar-icon;

  .menu-icon + span {
    flex: auto;
    margin-left: calc(var(--n-item-padding-x) / 2);
  }

  @media (min-width: $responsive_breakpoint) {
    .row > li {
      align-content: flex-start;
    }

    nav li:not(.full-width),
    .nav li:not(.full-width) {
      position: relative;
    }

    // show icons and megamenu columns
    .parent-icon,
    .subnav-toggle + ul,
    .subnav-toggle + div {
      display: flex;
    }

    // disable focus on hidden menu items
    ul.subnav > li,
    div.subnav > ul > li { display: none; }

    .open-position {
      > ul.subnav > li,
      > div.subnav > ul > li { display: flex; }
    }

    // toggles are hidden
    .subnav-toggle,
    .navbar-toggle { display: none; }

    // set submenu desktop view
    .subnav {
      // set base typo
      position: absolute;
      display: block;
      font-size: var(--n-subnav-font-size, $navbar_font_size);
      line-height: var(--n-subnav-line-height, $navbar_line_height);
      opacity: 0;

      li > span,
      li > a {
        // override flex-basis
        flex-basis: 100%;
        font-size: var(--n-subnav-item-font-size, $subnav_font_size);
        line-height: var(--n-subnav-item-line-height, $subnav_line_height);
      }
    }

    // reset menu tree highlight padding
    div.subnav ul {
      padding: 0;
    }

    ul.subnav, div.subnav,
    .subnav .subnav {
      padding: var(--n-subnav-padding-y) var(--n-subnav-padding-x);
    }

    .subnav-content,
    ul.subnav { flex-direction: column; }

    // div.subnav > ul { flex-direction: row; }

    // reset open-mobile
    li.open-mobile {
      background: none;
      transition: none;
      + .open-mobile {margin: 0;}
    }

    // adjust column title
    .column-title,
    div.subnav > ul > li > span {
      font-size: 120%;
    }

    // override flex-basis
    // .subnav li {
    //   > a, > span {
    //     flex-basis: 100%;
    //   }
    // }

    // override content padding
    .subnav li > a,
    .subnav li > span,
    .subnav-content {
      // a value must be inherited
      padding: var(--n-subnav-item-padding-y) var(--n-subnav-item-padding-x);
      margin: var(--n-subnav-item-margin);
    }

    // set LVL1 subnav spacing
    .nav > li > .subnav {
      margin-top: var(--n-padding-y);
    }

    // set subnav spacing
    .subnav .subnav {
      margin-top: calc(var(--n-subnav-padding-y) * -1);
      margin-left: var(--n-subnav-padding-x);
    }

    // set width
    ul.subnav { // regular submenu
      width: var(--n-subnav-width);
    }

    div.subnav { // mega submenu

      // determine larger width with padding in mind
      min-width: var(--n-subnav-larger-width);

      > ul {
        flex-direction: row;padding: 0; margin: 0;
      }

      &.m1 { min-width: calc(var(--n-subnav-width) + var(--n-subnav-padding-x) * 2); }
      &.m2 { min-width: calc(var(--n-subnav-width) * 2 + var(--n-subnav-padding-x) * 2); }
      &.m3 { min-width: calc(var(--n-subnav-width) * 3 + var(--n-subnav-padding-x) * 2); }
      &.m4 { min-width: calc(var(--n-subnav-width) * 4 + var(--n-subnav-padding-x) * 2); }
    }
  }
}

// NAV STYLE
@mixin nav-style($include:0) {
  // begin nav
  #{if($include != 0, '&.nav', '.nav')} {
    // responsive view color
    li > a,
    li > span {
      color: var(--n-item-color);
    }

    // background only apply to LI.open-mobile view
    li.open-mobile {
      background-color: var(--n-expanded-bg);
    }

    @media (min-width: $responsive_breakpoint) {
      // root menu item background
      > li {
        > span,
        > a {
          background-color: var(--n-item-bg);
        }
      }

      // menu item colors
      // root hover
      > li.open,
      > li:hover {
        > span,
        > a {
          color: var(--n-item-hover-color);
          background-color: var(--n-item-hover-bg);
        }
      }

      // root active
      > li.active,
      > li.active.open,
      > li.active:hover {
        > span,
        > a {
          color: var(--n-item-active-color);
          background-color: var(--n-item-active-bg);
        }
      }
    }
  }

  // navbar toggles
  .subnav-toggle,
  .navbar-toggle {
    color: currentcolor;
    background-color: transparent;

    &:focus {
      color: var(--n-bg);
      background-color: var(--n-link-color);
      outline: none;
    }
  }

  .open-mobile {
    > .subnav-toggle:not(:focus),
    > .navbar-toggle:not(:focus) {
      color: var(--n-item-color);
      border-color: var(--n-item-color);
    }
  }
}

// SUBNAV STYLE
@mixin subnav-style() {
  // set subnav background
  @media (min-width: $responsive_breakpoint) {
    .subnav {
      // background
      background-color: var(--n-subnav-bg);

      // box-shadow
      box-shadow: var(--n-subnav-shadow);

      // submenu item
      li {
        > span,
        > a {
          color: var(--n-subnav-item-color);
          background-color: var(--n-subnav-item-bg);
        }

        > div {
          background-color: var(--n-subnav-item-bg);
        }

        // hover
        &.open,
        &:hover {
          > a {
            color: var(--n-subnav-item-hover-color);
            background-color: var(--n-subnav-item-hover-bg);
          }
        }

        // active
        &.active,
        &.active:hover {
          > span,
          > a {
            color: var(--n-subnav-item-active-color);
            background-color: var(--n-subnav-item-active-bg);
          }
        }
      }
    }

    // column title
    .column-title,
    div.subnav > ul > li > span {
      color: var(--n-subnav-item-color);
    }

    // a special case for span menu item text
    // div.subnav > ul > li > ul, // more than 5 compound selectors won't validate
    div.subnav li > ul,
    ul.subnav {
      > li.open,
      > li:hover {
        > span {
          color: var(--n-subnav-item-hover-color);
          background-color: var(--n-subnav-item-hover-bg);
        }
      }
    }

    // submenu text colors
    div.subnav {
      color: var(--n-subnav-text-color);
    }

    .subnav-content {
      a:not([class]), b {
        color: var(--n-subnav-link-color);
      }

      a:not([class]):hover {
        color: var(--n-subnav-link-color-hover);
      }
    }
  }
}

// horizontal menu animation
@mixin main-menu($include:0) {
  #{if($include != 0, '&.nav', '.nav')} {
    @media (min-width: $responsive_breakpoint) {
      // animation
      li {
        > .subnav {
          top: -99999em; left: -99999em;
          transition: transform .5s ease, opacity .4s linear;
          transform: translate(0,-10px);
        }

        li > .subnav { transform: translate(-10px); }

        li.open-position > .subnav {
          top: 0; left: 100%;
        }
      }

      li.open-position > .subnav {
        top: 100%; left: 0; z-index: var(--n-subnav-zindex);
      }

      li.open > .subnav {
        opacity: 1; transform: translate(0);
      }
    }
  }
}

@mixin main-menu-rtl($include:0) {
  #{if($include != 0, '&.nav', '.nav')} {
    @media (min-width: $responsive_breakpoint) {
      // animation
      li {
        > .subnav {
          top: -99999em; right: -99999em; // dir=rtl won't like left: -99999em
          transition: transform .5s ease, opacity .4s linear;
          transform: translate(0,-10px);
        }

        li > .subnav { transform: translate(10px); }

        li.open-position > .subnav {
          top: 0; right: 100%; left: auto;
        }
      }

      li.open-position > .subnav {
        top: 100%; right: 0; left: auto; z-index: var(--n-subnav-zindex);
      }

      li.open > .subnav {
        opacity: 1; transform: translate(0);
      }

      .subnav .subnav {
        margin-right: var(--n-subnav-padding-x);
        margin-left: 0;
      }
    }

    // fix menu icon spacing
    .menu-icon + span {
      flex: auto;
      margin-right: calc(var(--n-item-padding-x) / 2);
      margin-left: 0;
    }
  }
}

// vertical left-side animation
@mixin left-side($include:0) {
  #{if($include != 0, '&.nav', '.nav')} {
    flex-direction: column;

    @media (min-width: $responsive_breakpoint) {
      li {
        > .subnav {
          top: -99999em;
          left: -99999em;
          opacity: 0;
          transition: transform .5s ease, opacity .4s linear;
          transform: translate(-10px);
        }

        > a {
          flex-basis: 100%;
        }
      }

      li.open-position > .subnav {
        top: 0; left: 100%; z-index: var(--n-subnav-zindex);
      }

      li.open > .subnav {
        opacity: 1; transform: translate(0);
      }

      > li > .subnav {
        margin-top: 0;
        margin-left: var(--n-padding-x);
      }
    }
  }
}

// vertical right-side animation
@mixin right-side($include:0) {
  #{if($include != 0, '&.nav', '.nav')} {
    flex-direction: column;

    @media (min-width: $responsive_breakpoint) {
      li {
        > .subnav {
          top: -99999em;
          right: -99999em; left: auto;
          opacity: 0;
          transition: transform .5s ease, opacity .4s linear;
          transform: translate(10px);
        }

        > a {
          flex-basis: 100%;
        }
      }

      li.open-position > .subnav {
        top: 0; right: 100%; z-index: var(--n-subnav-zindex);
      }

      li.open > .subnav {
        opacity: 1; transform: translate(0);
      }

      > li > .subnav {
        margin-top: 0;
        margin-right: var(--n-padding-x);
      }

      .subnav .subnav {
        margin-right: var(--n-subnav-padding-x);
        margin-left: 0;
      }
    }
  }
}

// NAVBAR ICON
@mixin navbar-icon() {
  .menu-icon,
  .parent-icon {
    width: var(--n-icon-height);
    height: var(--n-icon-height);
    line-height: var(--n-icon-height);
    text-align: center;
    fill: currentcolor;
  }

  .menu-icon {
    font-size: calc(var(--n-icon-height) * .94); // 94% = 0.94
  }
}
