// BOOTSTRAP MIXINS
@use "functions";
@use "variables";
@use "mixins";

$dark-navbar-bg: #343a40;

// bootstrap navbar style
@mixin navbar-style-bs {
  .navbar-light {
    .subnav-toggle {
      color: rgba(var(--bs-dark-rgb), .55);
    }

    .open-mobile {
      > .subnav-toggle {
        color: rgba(var(--bs-dark-rgb), .75);
        background: rgba(var(--bs-dark-rgb), .15);
      }
    }
  }

  .navbar-dark,
  .navbar:not(.navbar-light) {
    .subnav-toggle {
      color: rgba(var(--bs-light-rgb), .55);
    }

    .open-mobile {
      > .subnav-toggle {
        color: rgba(var(--bs-light-rgb), .75);
        background: rgba(var(--bs-light-rgb), .15);
      }
    }
  }

  @media (min-width: variables.$responsive_breakpoint) {
    // set LVL1 subnav box-shadow
    .navbar-nav li > .subnav {
      box-shadow: var(--nv-subnav-shadow);
    }

    .navbar-light {
      .subnav {
        background-color: #fff;
      }

      .navbar-nav li {
        li.open, li:hover { // hover
          > a.nav-link {
            color: rgba(var(--bs-dark-rgb), .75);
          }
        }
      }
    }

    .navbar:not(.navbar-light),
    .navbar-dark {
      .subnav {
        background-color: rgba(var(--bs-dark-rgb), 1);
      }

      .navbar-nav li {
        li.open, li:hover { // hover
          > a.nav-link {
            color: rgba(var(--bs-light-rgb), .75);
          }
        }

      }
    }

    // lvl 2 active
    .navbar .navbar-nav li {
      li.active, li.active:hover { // active
        > a.nav-link {
          color: var(--bs-white);
        }
      }
    }
  }
}

@mixin nav-layout-bs() {
  // set navbar padding
  .navbar {
    padding: var(--nv-padding-y) var(--nv-padding-x);
  }

  // mobile view visibility
  .subnav,
  .subnav-toggle + ul,
  .subnav-toggle + div,
  .parent-icon {display: none;}

  li.open-mobile {
    > .subnav-toggle + div,
    > .subnav-toggle + ul,
    > .subnav {display: block;}
  }

  // menu icons
  @include mixins.navbar-icon;

  .menu-icon + span {
    flex: auto;
    margin-left: var(--nv-item-padding-x);
  }

  .subnav-toggle {
    background: transparent;
    border: 0;
    border-radius: variables.$base_radius;
  }

  // mobile view menu tree highlight padding
  ul.subnav,
  div.subnav ul {
    flex-basis: 100%;
    flex-direction: column;
    padding: 0 0 0 var(--nv-item-padding-x);
  }

  // general menu layout
  .navbar-nav {
    li {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      list-style: none;
    }

    // general item styling
    .nav-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  @media (min-width: variables.$responsive_breakpoint) {
    // desktop view visibility
    .subnav-toggle { display: none; }

    .parent-icon,
    .subnav-toggle + div,
    .subnav-toggle + ul {
      display: flex;
    }

    // disable focus on hidden menu items
    ul.subnav > li,
    div.subnav > ul > li { display: none; }

    .open-position {
      > ul.subnav > li,
      > div.subnav > ul > li { display: flex; }
    }

    .nav-link {
      flex-basis: 100%;
    }

    // set subnav position
    .subnav {
      position: absolute;
    }

    // reset menu tree highlight padding
    // ul.subnav,
    div.subnav ul {
      padding: 0;
    }

    .navbar-text,
    ul.subnav {flex-direction: column;}
    div.subnav > ul {flex-direction: row;}

    // set submenu width
    ul.subnav { width: var(--nv-subnav-width); }
    div.subnav { min-width: var(--nv-subnav-larger-width); }

    // set margin and padding
    .navbar-nav > li > .subnav {
      margin-top: var(--nv-padding-y);
    }

    ul.subnav, div.subnav,
    .subnav .subnav {
      padding: var(--nv-subnav-padding-y, variables.$navbar_padding_y) var(--nv-subnav-padding-x, variables.$navbar_padding_x);
    }

    .subnav .subnav {
      margin-top: calc(var(--nv-subnav-padding-y) * -1);
      margin-left: var(--nv-subnav-padding-x);
    }
  }
}

@mixin main-menu-bs() {
  @media (min-width: variables.$responsive_breakpoint) {
    .navbar-nav {
      li {
        > .subnav {
          top: -99999em;
          display: block;
          opacity: 0;
          transition: transform .5s ease, opacity .4s ease;
          transform: translate(0,-10px);
        }

        li > .subnav { transform: translate(-10px); }

        li.open-position > .subnav {
          top: 0;
          left: 100%;
        }
      }

      li.open-position > .subnav {
        top: 100%;
        left: 0;
        z-index: var(--nv-subnav-zindex);
      }

      li.open > .subnav {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}
