// VARIABLES

// NAVBAR METRIX
// $navbar_line_height must be numeric, sets the global line-height and is REQUIRED for icon-size
$navbar_padding: 0 !default;
$navbar_line_height: 1.5rem !default;
$navbar_font_size: 14px !default;

// BRAND COLOR
$primary_color: #069 !default; // sets the active colors

// NAVBAR AND SUBNAV BACKGROUND COLOR
$navbar_background: #687c86 !default; // [HEX|RGBA|RGB|transparent] transparent value will disable that style rule
$subnav_background: #dadee0 !default; // [HEX|RGBA|RGB|inherit|transparent] transparent value will disable that style rule

// NAVBAR TEXT COLORS
// * inheritable values
// * [HEX|RGBA|RGB|auto|transparent]
// * auto color based on $navbar_background,
// * transparent value will disable that style rule
// these values
$navbar_text_color: auto !default; // [HEX|RGBA|RGB|auto|transparent] auto sets a color based on $navbar_background
$navbar_link_color: auto !default; // [HEX|RGBA|RGB|auto|transparent] auto sets a color based on $navbar_background
$navbar_link_color_hover: auto !default; // [HEX|RGBA|RGB|auto|transparent] auto sets a color based on $navbar_background

// SUBNAV TEXT COLORS
$subnav_text_color: auto !default; // [HEX|RGBA|RGB|auto|transparent] auto sets a color based on $subnav_background/$subnav_item_background
$subnav_link_color: auto !default; // [HEX|RGBA|RGB|auto|transparent] auto sets a color based on $subnav_background/$subnav_item_background
$subnav_link_color_hover: auto !default; // [HEX|RGBA|RGB|auto|transparent] auto sets a color based on $subnav_background/$subnav_item_background

// MENU ITEM METRIX
$root_item_font_size: inherit !default; // inherit $navbar_font_size
$root_item_line_height: inherit !default; // inherit $navbar_line_height
$subnav_item_font_size: inherit !default; // inherit $root_item_font_size
$subnav_item_line_height: inherit !default; // inherit $root_item_line_height
$item_vertical_spacing: .5rem !default; // used for $root_item_padding and $root_item_padding
$item_horizontal_spacing: 1rem !default; // used for $root_item_padding and $root_item_padding
// item spacing
// $root_item_padding applies globally to mobiles and can be inherited & overruled for .subnav items
$root_item_padding: $item_vertical_spacing $item_horizontal_spacing !default; // $root_item_padding must be set
$subnav_item_padding: inherit !default; // [inherit|valid value|0] inherit value will inherit the above $root_item_padding, 0 value will disable the style rule

// BRAND METRIX
$brand_font_size: 18px !default; // [valid value|0] can be either a valid value or 0 which removes the style rule
$brand_line_height: inherit !default; // [valid value|0] can be either a valid value or 0 which removes the style rule
$brand_padding: $item_vertical_spacing $item_horizontal_spacing !default; // [valid value|0] 0 value will disable style rule, applies to [a.brand] selector

// SUBNAV METRIX
$subnav_margin: 0 !default; // [valid value|0] sets margin-top for the LVL1 Element.subnav
$subnav_padding: 0 !default; // [valid value|0] sets a padding for the LVL1 Element.subnav
$subnav_line_height: inherit !default; // [valid value|inherit] inherits the above $navbar_line_height
$subnav_font_size: inherit !default; // [valid value|inherit] inherits the above $navbar_font_size
$subnav_width: 200px !default; // [valid value|0] sets a width for regular submenu
$subnav_larger_width: 600px !default; // [valid value|0] sets a minimum width for mega wrapper

// MENU ITEM COLOR STYLING
// - auto - sets a menu item color based on its background or .navbar / .nav background
// - HEX / rgba / rgb - accepted values
// - transparent value removes the rule
// root items
$root_item_color: auto !default;
$root_item_background: transparent !default;
$root_item_hover_color: auto !default; // cannot be transparent
$root_item_hover_background: rgba(0,0,0,.35) !default; // rgba(255,255,255,0.85)
$root_item_active_color: #fff !default;
$root_item_active_background: $primary_color !default;

// SUBNAV MENU ITEM COLORS
$subnav_item_color: auto !default;
$subnav_item_background: transparent !default;
$subnav_item_hover_color: auto !default;
$subnav_item_hover_background: rgba(0,0,0,.4) !default;
$subnav_item_active_color: #fff !default;
$subnav_item_active_background: $primary_color !default;

// BRAND LINK COLORS
$brand_link_color: auto !default;
$brand_link_color_hover: auto !default;
$brand_link_background: #2c3c44 !default;
$brand_link_background_hover: transparent !default;

// Bootstrap Grid Breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// MISC
$responsive_breakpoint: $md !default; // default is 768px
$subnav_zindex: 50 !default; // should go above carousel instances
$icon_height: auto !default; // sets icon size in any unit, when using icons, this variable is a must
$navbar_toggle_padding: .125rem .5rem !default; // toggle button
$base_radius: .25rem !default; // [valid value|0] can be either a valid value or 0 which removes the style rule
$mobile_expanded_background: auto !default; // mobile view only, [auto|transparent|none|rgba/rgb/hex] accepted values
$subnav_shadow: 1px 1px 4px 1px rgba(0,0,0,.25), 1px 1px 0 0 rgba(0,0,0,.15) inset !default; // [valid|0] sets a shadow for LVL1 .subnav, 0 will remove the rule
