:root {
  // paddings must have a unit
  --n-padding-x: #{real-size($navbar_padding_x, 1)};
  --n-padding-y: #{real-size($navbar_padding_y, 1)};
  --n-line-height: #{$navbar_line_height};
  --n-font-size: #{$navbar_font_size};
  --n-primary-color: #{$primary_color};
  --n-bg: #{$navbar_background};
  --n-text-color: #{get-color($navbar_text_color, $navbar_background, .55)};
  --n-link-color: #{get-color($navbar_link_color, $navbar_background, .75)};
  --n-link-color-hover: #{get-color($navbar_link_color_hover, $navbar_background, .95)};
  --n-subnav-bg: #{$subnav_background};
  --n-subnav-text-color: #{get-color($subnav_text_color, $subnav_background, .55)};
  --n-subnav-link-color: #{get-color($subnav_link_color, $subnav_background, .75)};
  --n-subnav-link-color-hover: #{get-color($subnav_link_color_hover, $subnav_background, .95)};
  --n-item-font-size: #{$root_item_font_size};
  --n-item-line-height: #{$root_item_line_height};
  --n-item-padding-y: #{$item_padding_y};
  --n-item-padding-x: #{$item_padding_x};
  --n-item-margin: #{$root_item_margin};
  --n-subnav-item-font-size: #{$subnav_item_font_size};
  --n-subnav-item-line-height: #{$subnav_item_line_height};
  --n-subnav-item-padding-x: var(--n-item-padding-x);
  --n-subnav-item-padding-y: var(--n-item-padding-y);
  --n-subnav-item-margin: #{$subnav_item_margin};
  --n-brand-font-size: #{$brand_font_size};
  --n-brand-line-height: #{$brand_line_height};
  --n-brand-padding: var(--n-item-padding-y) var(--n-item-padding-x);
  --n-brand-link-color: #{get-color($brand_link_color, $navbar_background, .95)};

  // paddings must have a unit
  --n-subnav-padding-x: #{real-size($subnav_padding_x, 1)};
  --n-subnav-padding-y: #{real-size($subnav_padding_y, 1)};
  --n-subnav-line-height: #{$subnav_line_height};
  --n-subnav-font-size: #{$subnav_font_size};
  --n-subnav-width: #{$subnav_width};
  --n-subnav-larger-width: calc(var(--n-subnav-width) * 3 + var(--n-subnav-padding-x) * 2);
  --n-item-color: #{get-item-color($root_item_color, $root_item_background, $navbar_background, .65)};
  --n-item-bg: #{$root_item_background};
  --n-item-hover-color: #{get-item-color($root_item_hover_color, $root_item_hover_background, $navbar_background, .85)};
  --n-item-hover-bg: #{$root_item_hover_background};
  --n-item-active-color: #{get-item-color($root_item_active_color, $root_item_active_background, $navbar_background, 1)};
  --n-item-active-bg: var(--n-primary-color);
  --n-subnav-item-color: #{get-item-color($subnav_item_color, $subnav_item_background, $subnav_background, .65)};
  --n-subnav-item-bg: #{$subnav_item_background};
  --n-subnav-item-hover-color: #{get-item-color($subnav_item_hover_color, $subnav_item_hover_background, $subnav_background, .85)};
  --n-subnav-item-hover-bg: #{$subnav_item_hover_background};
  --n-subnav-item-active-color: #{get-item-color($subnav_item_active_color, $subnav_item_active_background, $subnav_background, 1)};
  --n-subnav-item-active-bg: var(--n-primary-color);
  --n-subnav-zindex: #{$subnav_zindex};
  --n-icon-height: #{get-icon-height()};
  --n-toggle-padding: #{$navbar_toggle_padding};
  --n-base-radius: #{$base_radius};
  --n-expanded-bg: #{$mobile_expanded_background};
  --n-subnav-shadow: #{$subnav_shadow};
}
