@use "variables";
@use "functions";

:root {
  // paddings must have a unit
  --nv-padding-x: #{functions.real-size(variables.$navbar_padding_x, 1)};
  --nv-padding-y: #{functions.real-size(variables.$navbar_padding_y, 1)};
  --nv-line-height: #{variables.$navbar_line_height};
  --nv-font-size: #{variables.$navbar_font_size};
  --nv-primary-color: #{variables.$primary_color};
  --nv-bg: #{variables.$navbar_background};
  --nv-text-color: #{functions.get-color(variables.$navbar_text_color, variables.$navbar_background, .55)};
  --nv-link-color: #{functions.get-color(variables.$navbar_link_color, variables.$navbar_background, .75)};
  --nv-link-color-hover: #{functions.get-color(variables.$navbar_link_color_hover, variables.$navbar_background, .95)};
  --nv-subnav-bg: #{variables.$subnav_background};
  --nv-subnav-text-color: #{functions.get-color(variables.$subnav_text_color, variables.$subnav_background, .55)};
  --nv-subnav-link-color: #{functions.get-color(variables.$subnav_link_color, variables.$subnav_background, .75)};
  --nv-subnav-link-color-hover: #{functions.get-color(variables.$subnav_link_color_hover, variables.$subnav_background, .95)};
  --nv-item-font-size: #{variables.$root_item_font_size};
  --nv-item-line-height: #{variables.$root_item_line_height};
  --nv-item-padding-y: #{variables.$item_padding_y};
  --nv-item-padding-x: #{variables.$item_padding_x};
  --nv-item-margin: #{variables.$root_item_margin};
  --nv-subnav-item-font-size: #{variables.$subnav_item_font_size};
  --nv-subnav-item-line-height: #{variables.$subnav_item_line_height};
  --nv-subnav-item-padding-x: var(--nv-item-padding-x);
  --nv-subnav-item-padding-y: var(--nv-item-padding-y);
  --nv-subnav-item-margin: #{variables.$subnav_item_margin};
  --nv-brand-font-size: #{variables.$brand_font_size};
  --nv-brand-line-height: #{variables.$brand_line_height};
  --nv-brand-padding: var(--nv-item-padding-y) var(--nv-item-padding-x);
  --nv-brand-link-color: #{functions.get-color(variables.$brand_link_color, variables.$navbar_background, .95)};

  // paddings must have a unit
  --nv-subnav-padding-x: #{functions.real-size(variables.$subnav_padding_x, 1)};
  --nv-subnav-padding-y: #{functions.real-size(variables.$subnav_padding_y, 1)};
  --nv-subnav-line-height: #{variables.$subnav_line_height};
  --nv-subnav-font-size: #{variables.$subnav_font_size};
  --nv-subnav-width: #{variables.$subnav_width};
  --nv-subnav-larger-width: calc(var(--nv-subnav-width) * 3 + var(--nv-subnav-padding-x) * 2);
  --nv-item-color: #{functions.get-item-color(variables.$root_item_color, variables.$root_item_background, variables.$navbar_background, .65)};
  --nv-item-bg: #{variables.$root_item_background};
  --nv-item-hover-color: #{functions.get-item-color(variables.$root_item_hover_color, variables.$root_item_hover_background, variables.$navbar_background, .85)};
  --nv-item-hover-bg: #{variables.$root_item_hover_background};
  --nv-item-active-color: #{functions.get-item-color(variables.$root_item_active_color, variables.$root_item_active_background, variables.$navbar_background, 1)};
  --nv-item-active-bg: var(--nv-primary-color);
  --nv-subnav-item-color: #{functions.get-item-color(variables.$subnav_item_color, variables.$subnav_item_background, variables.$subnav_background, .65)};
  --nv-subnav-item-bg: #{variables.$subnav_item_background};
  --nv-subnav-item-hover-color: #{functions.get-item-color(variables.$subnav_item_hover_color, variables.$subnav_item_hover_background, variables.$subnav_background, .85)};
  --nv-subnav-item-hover-bg: #{variables.$subnav_item_hover_background};
  --nv-subnav-item-active-color: #{functions.get-item-color(variables.$subnav_item_active_color, variables.$subnav_item_active_background, variables.$subnav_background, 1)};
  --nv-subnav-item-active-bg: var(--nv-primary-color);
  --nv-subnav-zindex: #{variables.$subnav_zindex};
  --nv-icon-height: #{functions.get-icon-height()};
  --nv-toggle-padding: #{variables.$navbar_toggle_padding};
  --nv-base-radius: #{variables.$base_radius};
  --nv-expanded-bg: #{variables.$mobile_expanded_background};
  --nv-subnav-shadow: #{variables.$subnav_shadow};
}
