name: ci
on:
  push:
    branches:
      - main
    paths:
      - src
      - test
      - package.json
      - .github/workflows/ci.yml
jobs:
  test:
    runs-on: ubuntu-20.04
    name: Test on Node 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install
        run: pnpm install --no-frozen-lockfile
 
      - name: Install Playwright
        run: pnpm exec playwright install

      - name: Lint TS & CSS
        run: pnpm lint

      - name: Build JS
        run: pnpm build

      - name: Build CSS
        run: pnpm compile

      - name: Run tests
        run: pnpm test


      - name: Upload coverage report on Node 20 to coveralls.io...
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}